<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/03b6de6df8.js" crossorigin="anonymous"></script>
    <title>Pagina d'attesa</title>
</head>
<body>
  

<div class="hero is-fullheight is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h3 class="title has-text-white"> Mi dispiace, <strong th:text="${utente.nome}"></strong></h3>
            <hr class="login-hr">
            <p class="has-text-white">Hai già complitato IL questionario! </p> 
            <br> 
            <strong class="has-text-white" th:text="${'Devi aspettare '+ giornimancanti.datediff+' giorni per ricompilare il form'}" ></strong><br>
            <br>
            <button class="button has-background-light has-text-info is-medium is-responsive"> <strong> <a href ="/logout"> Logout</a> </strong></button>
        </div>
    </div>
  </div>
</div>
