<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/03b6de6df8.js" crossorigin="anonymous"></script>
    <title>Errore</title>
</head>
<body>
  

<div class="hero is-fullheight is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h3 class="title has-text-white"> C'è stato un errore!</h3>
        
            <hr class="login-hr">
            <h3 class="subtitle has-text-white"> Se hai <strong>dimenticato</strong> la password <br> o per qualsiasi altra cosa recati <strong> subito </strong> in segreteria!!</h3>
            
            
        </div>
    </div>
  </div>
</div>