<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menù Admin</title>
    <style>
        td{
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Menù Admin</h1><br>
    <table>
    	<tr>
    		<td>Studente</td>
    		<td><a href="inserisci_studente">Aggiungi</a></td>
    		<td><a href="rimuovi_studente">Rimuovi</a></td>
    		<td><a href="modifica_studente">Modifica</a></td>
    	</tr>    	
    </table>
    <br>
    <a href="login">Logout</a>
</body>
</html>