<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/03b6de6df8.js" crossorigin="anonymous"></script>
    <title>Registrazione studente</title>
</head>
<body>

   <!-- Parte css per l'intestazione-->
    <section class="hero is-link is-bold">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h3 class="subtitle has-text-white">Benvenuto</h3>
            <h3 class="title has-text-white">Registrazione </h3>
    <hr class="login-hr">
    <p class="subtitle has-text-white">Inserisci l'e-mail e crea una password</p>
          </div>
        </div>
      </section>



   <!-- Parte css per il form che quindi è da moficare con le robe di thyme-leaf, da aggiungere name e id-->
      <section class="hero is-light ">
       
        <div class="hero-body">               
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">                
                <form action="/registrazione" method="post" class="box has-background-info ">                   
                  <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control has-icons-left">
                      <input type="email" name="email" id="email" placeholder="nome.cognome@scuola.it" class="input" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                      <input type="password"  name="pwd" id="pwd" placeholder="Password" class="input" required>
                      <span class="icon is-small is-left ">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <br>
                  
                <p class="has-text-white has-text-centered"> Già registrato?   <a href="/login" ><u> Accedi </u> </a> <br><br> <p>
                         
                <div class="field has-text-centered" >

                     <!--  Bottone -->
                    <button type="submit" value="login" class="button has-background-light has-text-info"><strong>Registrati</strong></button>
                </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      
   <!-- Footer -->
      <section class="hero is-light is-bold">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h4 class="title is-5 has-text-info">Registro Elettronico</h4>
            <p>
            by Cecilia Baccolo, Samira Boutabt, Francesco D'Alessandro, Mohamed Osman<br>
             Emit Feltrinelli, 2022             
          </p>
          </div>
        </div>
      </section>
    
</body>
</html>